@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color:#f5f5f5;
    --hover-color:#35fd0d;
    --bg-color:#311f31e7;
    --second-bg-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow:0 0 .5rem #e71bdd;
    --h2-font:3rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3),
}
.dark-theme{
    --bg-color: rgba(19, 18, 18, 0.74);
    --second-bg-color:#2b0303;
    --text-color:red;
    --neon-box-shadow:var(--second-bg-color);
    --hover-color:#156ac0;

}

#icon{
    width: 30px;
    cursor: pointer;
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: var(--second-bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: .5rem;
}


body{
    font-family: "poppins",sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--second-bg-color);
    padding: 12px 10%;
}

.logo{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
}
span{
    color: var(--hover-color);
}
.navlist{
    display: flex;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.navlist a{
    display: block;
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    margin: .1rem;
    padding-bottom: 1rem;   
}

.navlist img{
    height: 35px;
    width: 35px;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);;
}

.navlist a.active{
    color: var(--hover-color);
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--second-bg-color);
    display: none;
}

section{
    padding: 100px 10%;
}

.home{
    min-height: 100vh;
    height: 80%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
    color: #fff;
    background-image: url(Background/drone_camera_technology_171576_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h2{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h1{
    display: flex;
    margin-top: 1rem;
    vertical-align: bottom;
    position: absolute;
    display: flex;
    opacity: 1;
    font-size: 32px;
    color: transparent;
    -webkit-text-stroke: var(--hover-color) 1px;
    background: url(Icons/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}





.home-content p{
    color: #bdbdbd;
    line-height: 1.8;
    margin-top: 16rem;
}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}

.info-box.h5{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.5rem;
}

.info-box span{
    font-size:  .9rem;
    color: #bdbdbd;
    font-size: 1rem;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}
.btn:hover{
    color: var(--hover-color);
}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .4s;
}
.btn:hover::before{
    width: 100%;
}
.btn:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
.btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn:nth-child(2)::before{
    background: var(--hover-color);
}
.social-icons{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 40px ;
}

.social-icons a{
    display: inline-block;
    width: 70px;
    height: 130%;
    margin: .2rem;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-icons a img{
    font-size: 1.5rem;
}
.social-icons a:hover{
    color: var(--bg-color);
    transform: translateY(-5px);
}
.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width:0%;
    height:100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}
.social-icons a:hover::before{
    width: 100%;
}
.home-image{
    position: relative;
}
.img-box{
    text-align: right;
}
.img-box img{
    margin-top: -10rem;
    width: 100%;
    max-width: 350px;
    height: auto;
}
.liquid-shape{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}
.liquid-shape:nth-child(2){
    filter: blur(50px);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background-image: url(Background/joystick_controller_gamepad_126439_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.about .img-about{
    text-align: center;
    position: relative;
}
.about .img-about img{
    max-width: 400px;
    height: auto;
}

.about-content span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}
.about-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.about-content p{
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.info-about1,
.info-about2,
.info-about3{
    background: var(--bg-color);
    font-size: .5rem;
    position: absolute;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 69% 31% 66% 34% /21%  30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}
.info-about1{
    left: 10%;
    top: 34%;
}
.info-about2{
    left: 66%;
    top: 15%;
}
.info-about3{
    left: 61%;
    top: 70%;
}
.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}


.main-text{
    width:100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.main-text h2{
    font-weight: 700;
    font-size: var(--normal-font);
}
.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services{
    background-image: url(Background/pexels-cottonbro-studio-6153354.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;   
}

.section-services .services-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--second-bg-color);
    transition: transform .4s;
    border-radius: 10px;
}
.service-btn{
    width: auto;
    justify-content: center;
}
.services-box:hover{
    transform: translateY(-.7rem);
}
.service-icon{
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    align-content: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.services-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

.services-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}


.skills{
    background-image: url(Background/keyboard_backlight_purple_212155_3840x2160.jpg);
    background-size: cover;
    background-position: center;
}

.skills-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skills-bar{
    margin-bottom: 2.3rem;
}

.skills-main h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skills-left .skills-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skills-left .skills-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skills-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skills-bar .bar .HTML{
    width: 73%;
    animation: HTML 2s;
}

.skills-bar .bar .NODEJS{
    width: 80%;
    animation: NODEJS 3s;
}

.skills-bar .bar .PYTHON{
    width: 85%;
    animation: PYTHON 4s;
}

.skills-bar .bar .JAVASCRIPT{
    width: 90%;
    animation: JAVASCRIPT 5s;
}

.skills-bar .bar .CSS{
    width: 70%;
    animation: CSS 6s;
}
.skills-bar .bar .SQL{
    width: 78%;
    animation: SQL 7s;
}
.skills-bar .bar .MYSQL{
    width: 60%;
    animation: MYSQL 8s;
}
.skills-bar .bar .APIDEVELOPMENTS{
    width: 55%;
    animation: APIDEVELOPMENTS 9s;
}
.skills-bar .bar .DEVOPS{
    width: 82%;
    animation: DEVOPS 10s;
}
.skills-bar .bar .MATHEMATICS{
    width: 95%;
    animation: MATHEMATICS 11s;
}
.skills-bar .bar .STATISTICS{
    width: 87%;
    animation: STATISTICS 12s;
}
.skills-bar .bar .DATAVISUALIZATION{
    width: 80%;
    animation: DATAVISUALIZATION 13s;
}
.skills-bar .bar .NETWORKPROTOCOLS{
    width: 65%;
    animation: NETWORKPROTOCOLS 14s;
}
.skills-bar .bar .SECURITYFRAMEWORKS{
    width: 80%;
    animation: SECURITYFRAMEWORKS 15s;
}
.skills-bar .bar .VAPT{
    width: 88%;
    animation: VAPT 16s;
}
.skills-bar .bar .DECENTRALIZEDNETWORK{
    width: 64%;
    animation: DECENTRALIZEDNETWORK 17s;
}
.skills-bar .bar .SMARTCONTRACTDEVELOPMENT{
    width: 89%;
    animation: SMARTCONTRACTDEVELOPMENT 18s;
}
.skills-bar .bar .DAPPDEVELOPMENT{
    width: 93%;
    animation: DAPPDEVELOPMENT 19s;
}
.skills-bar .bar .GAMEMECHANICS{
    width: 78%;
    animation: GAMEMECHANICS 20s;
}
.skills-bar .bar .UXDESIGN{
    width: 70%;
    animation: UXDESIGN 6s;
}
.skills-bar .bar .UNITYANDUNREAL{
    width: 87%;
    animation: UNITYANDUNREAL 10s;
}


.professional{
    position: relative;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    flex-wrap: wrap;
    gap: 40px;
}

.professional .box{
    position: relative;
    width: 170px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.professional .box .percent{
    position: relative;
    width: 150px;
    height: 150px;
    
}

.professional .box .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.professional .box .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    border-radius: 100%;
    transform: translate(5px,5px);
}

.professional .box .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 4s linear forwards;
    animation-delay: 7.5s;
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 5s linear forwards;
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 5s linear forwards;
    animation-delay: 6.5s;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
}
.number h2 span{
    font-size: 1rem;
}
.number p{
    font-weight: 300;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
}

.portfolio{
    background-image: url(Background/pexels-dan-cristian-pădureț-1476321.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.filter-button{
    margin: 2rem;
    text-align: center;
}
.filter-button .button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}
.filter-button .button:hover{
    color: var(--hover-color);
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px, 1fr));
    gap: 2rem;
}

.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    
}

.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}
.port-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
    
}

.port-content a img{
    width: 70%;
    opacity: .5s;
    height: 70%;
    transition: .5s;
}
.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#12f7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2 rem;
}
.port-box:hover .port-content{
    opacity: 1;
}

.port-box:hover .port-image img{
     transform: scale(1.1);
}


.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}
.port-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}
.port-content a img{
    font-size: .8rem;
    color: var(--second-bg-color);
}



.contact{
    background-image: url(Background/pexels-alex-knight-2599244.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 10px;
}


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left h1{
    font-size: 50px;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left .email-info{
    margin-top: 30px;
}

.contact-left .contact-info{
    margin-top: 20px;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: #12f7ff;
    background: #191919;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

#msg{
    display: block;
}




footer{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

.footer p{
    color: #bdbdbd;
}

.footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}

.footer a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 40px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 15px;
}
.bubbles img:nth-child(4){
    animation-delay: 1.5s;
    width: 90px;
}
.bubbles img:nth-child(5){
    animation-delay: 5.5s;
    width: 56px;
}
.bubbles img:nth-child(6){
    animation-delay: 7s;
    width: 25px;
}
.bubbles img:nth-child(7){
    animation-delay: 2.5s;
    width: 125px;
}
.bubbles img:nth-child(8){
    animation-delay: 4.5s;
    width: 20px;
}
.bubbles img:nth-child(9){
    animation-delay: 10.5s;
    width: 65px;
}
.bubbles img:nth-child(10){
    animation-delay: 8s;
    width: 36px;
}

.btn2{
    display: inline-block;
    background: #35fd0d;
    width: 150px;
    height: 45px;
}












.scroll-scale{
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}
.scroll-bottom{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}
.scroll-top{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}

.show-items{
    opacity: 1;
    transform: translateX(0);
}




@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes HTML{
    0%{
        width: 0%;
    }
    100%{
        width: 73%;
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes JAVASCRIPT{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes PYTHON{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes NODEJS{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes SQL{
    0%{
        width: 0%;
    }
    100%{
        width: 78%;
    }
}
@keyframes MYSQL{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes APIDEVELOPMENTS{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes DEVOPS{
    0%{
        width: 0%;
    }
    100%{
        width: 82%;
    }
}
@keyframes MATHEMATICS{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes STATISTICS{
    0%{
        width: 0%;
    }
    100%{
        width: 87%;
    }
}
@keyframes DATAVISUALIZATION{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes NETWORKPROTOCOLS{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes SECURITYFRAMEWORKS{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes VAPT{
    0%{
        width: 0%;
    }
    100%{
        width: 88%;
    }
}
@keyframes DECENTRALIZEDNETWORK{
    0%{
        width: 0%;
    }
    100%{
        width: 64%;
    }
}
@keyframes SMARTCONTRACTDEVELOPMENT{
    0%{
        width: 0%;
    }
    100%{
        width: 88%;
    }
}
@keyframes DAPPDEVELOPMENT{
    0%{
        width: 0%;
    }
    100%{
        width: 93%;
    }
}
@keyframes GAMEMECHANICS{
    0%{
        width: 0%;
    }
    100%{
        width: 78%;
    }
}
@keyframes UXDESIGN{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes UNITYANDUNREAL{
    0%{
        width: 0%;
    }
    100%{
        width: 87%;
    }
}

@keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}

    
@keyframes slideAnimation{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}









@media(max-width:991px){
    header,
    header.sticky{
        padding: 15px 5%;
    }
    footer{
        padding: 15px 5%;
    }
    section{
        padding: 50px 5%;
    }
    .navlist a{
        padding: 8px 15px ;
    }
    :root{
        --big-font:2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow:0 0 .8rem #e71bdd;
        --h2-font:3rem; 
    }
    .home-content{
        margin-top: 5rem;
    }
    .social-icons{
        margin-top: 2rem;
    }
}

@media(max-width:768px){
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }
    #menu-icon.fa-brands fa-x{
        transform: rotate(-180deg);
    }
    .navlist{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    .navlist.open{
        top: 100%;
    }
     .home{
        grid-template-columns: 1fr;
     }
     .home-image{
        margin-bottom: 5rem;
     }
     .liquid-shape{
        width: 80%;
        left: 10%;
        top: 13%;
     }
     .about{
        flex-direction: column-reverse;
     }
     .skills-main{
        grid-template-columns: 1fr;
     }
     .filter-button{
        margin: 2.5rem 0;
     }
     footer p{
        font-size: .8rem;
    }
}
@media(max-width:420px){
    HTML{
        font-size: 80%;
    }
    footer p{
        font-size: .6rem;
    }
    .filter-button .button{
        font-size: .8rem;
    }
    .img-about.img{
        width: 300px;
    }
    .info-about1,.info-about2,.info-about3{
        display: none;
    }
    .img-about p{
        font-size: 1rem;
    }
}